:root{
    --color: red;
}
html
{
    background-size: cover;
    
}
h1
{
    width: 20cm;
    height: 100px;
    background-color: aqua;
    color: rgb(224, 64, 64);
    padding-top: 2cm;
}
h2{
    color: var(--color);
}
p
{
    font-size: 20px;
}
img
{
    right: 30cm;
    width: 15cm;
}
ul
{
    font-size: 20px;
}